*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Manrope;
    height: 100vh;
}
header{
    width: 100%;
    padding: 30px 43px;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 4px 0px #0000000D;
    background: #FFFFFF;
    z-index: 9;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mobileDis{
    display: none;
}
nav ul {
    display: flex;
    width: 641px;
    height: 47px;
    padding: 10px;
    gap: 54px;
    justify-content: center;
    align-items: center;
}
nav ul li:hover {
    color: #6FC247;
    transition: all 0.4s ease 0s;
}

.logo {
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

button {
    color: #f5f5f5;
    width: 200px;
    border: none;
    border-radius: 9px;
    background-color: #6FC247;
    height: 50px;
}

nav ul li {
    list-style: none;
}
main{
    padding: 0 10rem;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    margin-top: 150px;
    gap: 20px;
    color: #373737;

}

.world h1 {
    font-size: 64px;
    font-weight: 800;
    line-height: 87px;
    letter-spacing: 0em;
    text-align: center;
}

.val-pro p{
    font-size: 24px;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 971px;
}

.main_button{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.sign {
    color : #6FC247;
    background-color: transparent;
    border: 1px solid #6FC247;
}

.picdiv1 {
    margin-top: 64px;
    max-width: 1300px;
}

.picdiv1 img {
    width: 100%;
}


.section3{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.section3world{
    /* height:120px; */
    gap: 16px;
}

.section3world h2{
    font-weight: 800px;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
}

.section3world p{
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.grid-pic{
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 10px;
    width: 100%;
}
.grid-item {
    border: 1px solid whitesmoke;
    text-align: center;
}

.section4{
    color: white;
    background-color: black;
    margin-top: 70px;
    padding: 72px 102px;
}
.sec4div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;    
}

.sec4div1{
    display: flex;
    width:800px ;
    gap: 16px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sec4div2{ 
    display: flex;
    width: 1306px;
    height: 117px;
    justify-content: center;
    align-items: center;
}

.sec4div1 h2{
    font-family: Manrope;
    font-size: 40px;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;

}

.sec4div1 p{
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.section5{
    margin-top:20px;
    padding: 69px 103px 69px 103px;
    gap: 80px;
}

.sec5div1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.sec5div1 p{
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 0em;
    text-align: center;

}

.sec5div2{
    display: flex;
    gap: 60px;
    margin-top: 20px;
    justify-content: center;
}

.writeDiv{
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 47px;
    justify-content: space-evenly;
}

.lastpic img{
    width: 100%;
}

.headingp{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px; 
    border-radius: 16px;
    gap: 5px;
    justify-content: left;
}

.headingp h3{
    font-size: 20px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0em;
    color: #373737;

}

.headingp p{
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 0em;
    text-align: left;
    color: #373737;
}
.lastbtn{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 835px){

    header{
        max-width: 834px;
        padding: 30px 30px;
        position: fixed;
        top: 0;
        box-shadow: 0px 4px 4px 0px #0000000D;
        background: #FFFFFF;
        z-index: 9;
    }
    
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav ul {
        display: none;
    }
    

   nav button{
        display: none;
    }

    .container{
        display: inline-block;
        cursor: pointer;
    }
    .container{
        position: absolute;
        top: 1.5rem;
        right: 2rem;
    }
    .bar1, .bar2, .bar3{
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1{
        transform: translate(0, 11px) rotate(-45deg);
    }
    
    .change .bar2{opacity: 0;}
    
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }
    
    .section1 {
        margin-top: 80px;
        gap: 20px;
    }
    
    .world h1 {
        font-size: 40px;
        line-height: auto;
    }
    
    .val-pro p{
        font-size: 20px;
        line-height: auto;
    }
    
    .main_button{
        gap: 32px;
    }
    
    .section3{

        gap: 20px;

    }

    .section3world{
        gap: 16px;
    }
    
    .section3world h2{
        font-size: 24px;
        line-height: auto;

    }
    
    .section3world p{
        font-size: 20px;
        line-height: auto;
        margin-top: 16px;

    }

    .grid-pic{
        width: 100%;
    }
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 64px 40px;
    }
    .grid-container img{
        width: 100%;
        height: auto;
    }


    .grid-item {
        border: 1px solid whitesmoke;
        text-align: center;
    }

    .section4{
        max-width: 100%;
        padding: 64px 40px;
    }
    .sec4div{
        gap: 40px;
   
    }
    
    .sec4div1{
        width:800px ;
        gap: 16px;

    }
    
    .sec4div2 { 
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 40px;
        justify-content:space-between;
        align-items: start;
    }
    
    .sec4div1 h2{
       
        font-size: 24px;
        line-height: auto;    
    }
    
    .sec4div1 p{
        font-size: 20px;
        line-height: auto;
        width: 90%;

    }   

    
    .sec4indiv {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .sec4indiv h2{
        font-size: 18px;
        padding-bottom: 20px;
    }

    .sec4indiv p {
        font-size: 16px;
    }


    .section5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top:20px;
        padding: 64px 40px;
        gap: 32px;
    }
    
    .sec5div1{
        gap: 16px;
    }
    
    .sec5div1{
        font-size: 24px;
    }
    .sec5div1 p{
        font-size: 20px;
        font-weight: 500px;
        line-height: auto;

    }
    .sec5div2{
        display: flex;
        gap: 16px;
    }
    
    .writeDiv{
        width: 100%;
        padding: 3px;
        gap: 32px;
    }
    
    .lastpic {
        display: none;
    }
    .lastpic-mobile {
        width: 369px;
        height: 634px;
        background-image: url('image/last image.png');
        background-size: cover;
        background-position: center;
        overflow: hidden;
        /* Add the following line */
        box-sizing: border-box;
    }
    
    
    .headingp{
        width: 100%;
        gap: 8px;
    }
    
    .headingp h3{
        font-size: 18px;
        font-weight: 800;
        line-height: auto;
        letter-spacing: 0em;
        color: #373737;
    
    }
    
    .headingp p{
        font-size: 16px;
        font-weight: 500;
        line-height: auto;
    }
    .lastbtn{
        margin-top: 72px;
    }
}

@media only screen and (max-width: 395px){


    header{
        width: 100%;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul{
        display: none;
    }
    nav button{
        display: none;
    }

    .container{
        display: inline-block;
        cursor: pointer;
    }

    .container{
        position: absolute;
        top: 1.5rem;
        right: 2rem;

    }
    
    .bar1, .bar2, .bar3{
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1{
        transform: translate(0, 11px) rotate(-45deg);
    }
    
    .change .bar2{opacity: 0;}
    
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    main {
       max-width: 100%;
        padding: 0 32px;
    }

    .main_button {
        width: 100%;
    }

    .section1 {
        gap: 20px;
        padding-top: 48px;
    }

    .world {
        max-width: 329px;

    }
    
    .world h1 {
        font-size: 32px;
        line-height: 48px;
        font-weight: 800;
    }
    
    .val-pro {
        max-width: 329px;
    }
    .val-pro p{
        font-size: 16px;
        line-height: 32px;
        font-weight: 500;
    }

    .picdiv1 {
        margin-top: 0;
    }

    .section3{
        padding: 24px 32px;
        text-align: center;
    }

    
    .section3 h2{ 
        font-size: 20px;
        line-height: 32px;
        font-weight: 700;
    }
    
    .section3 p{
        font-size: 16px;
        line-height: 32px;
        font-weight: 500;
    }
    .grid-container {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-container img{
        width: 150px;
        height: auto;
    }

    .section4{
        max-width: 100%;
        padding: 64px 32px;
        margin-top: 0;
    }
    .sec4div{
        gap: 40px;
   
    }
    .sec4div1 {
        width: 100%;
    }

    .sec4div2 { 
        width: 100%;
        height: auto;
        gap: 40px;
    }
    
    .sec4div1 h2{
        width: 100%;
        font-size: 20px;
        line-height: 27.32px;
        font-weight: 800;
        color: #FFFFFF;
    
    }
    
    .sec4div1 p{
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color:#D7D7D7;
    }   

    
    .sec4indiv {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px;
        color: #D7D7D7;
        
    }
    .sec4indiv h2{
        font-size: 18px;
        padding-bottom: 20px;
        line-height: 24.59px;
        font-weight: 700;
        color: #FFFFFF;
    }

    .sec4indiv p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
    }

    .section5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 64px 0px;
        gap: 16px;
    }
    
    .sec5div1{

        gap: 16px;
    }
    
    .sec5div1 h2{
        font-size: 20px;
        line-height: 27.32px;
        font-weight: 800;
    }
    .sec5div1 p{
        font-size: 16px;
        font-weight: 500px;
        line-height: 32px;

    }
    .sec5div2{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
    }

    .lastpic {
        display: none;
    }
    .lastpic-mobile {
        width: 100%;
        background-image: url('image/last image.png');
        background-size: cover;
        background-position: center;
        overflow: hidden;
        /* Add the following line */
        box-sizing: border-box;
        padding: auto;
    }
    
    
    .headingp{
        width: 100%;
        /* gap: 8px; */
    }
    
    .headingp h3{
        font-size: 18px;
        font-weight: 700;
        line-height: 24.59px;
        letter-spacing: 0em;
        color: #373737;
    
    }
    
    .headingp p{
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
    }
    .lastbtn{
        display: flex;
        margin-top: 72px;
        justify-content: center;
    }


}